# IP Address of the Pico (for update.py)
PICO_IP=192.168.178.25

# The secure password for HTTP uploads
UPDATE_SECRET=my_super_secret_upload_pass

# WebREPL configuration (if set, update.py will automatically configure the Pico for it)
WEBREPL_PASSWORD=debug_active
